/* Base */
* {
  margin: 0;
  padding: 0;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: em(16);
  background-color: $bgcolor;
  color: $color;
  font: 400 #{em(16)} / 1.4 $fontstack;

  @include bp(mobile, min) {
    padding: em(40, 20);
    font-size: em(20);
  }
}

h2 {
  margin: 0;
  padding: 0 0 em(8);
  font-weight: 100;
  font-size: em(40);
  color: $grey;
}

h3 {
  margin: 0;
  padding: 0 0 em(8);
  font-weight: 100;
  font-size: em(28);
  letter-spacing: em(1);
  color: $grey;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
