@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

/* Base */
* {
  margin: 0;
  padding: 0;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: functions.em(16);
  background-color: variables.$bgcolor;
  color: variables.$color;
  font: 400 #{functions.em(16)} / 1.4 variables.$fontstack;

  @include mixins.bp(mobile, min) {
    padding: functions.em(40, 20);
    font-size: functions.em(20);
  }
}

h2 {
  margin: 0;
  padding: 0 0 functions.em(8);
  font-weight: 100;
  font-size: functions.em(40);
  color: variables.$grey;
  letter-spacing: functions.em(-0.5);
}

h3 {
  margin: 0;
  padding: 0 0 functions.em(8);
  font-weight: 100;
  font-size: functions.em(28);
  letter-spacing: functions.em(-0.5);
  color: variables.$grey;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.description p {
  letter-spacing: functions.em(-0.25);
}

.description strong {
  font-weight: 400;
  color: variables.$red;
}