@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

/* Base */
* {
  margin: 0;
  padding: 0;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: functions.em(16);
  background-color: var(--color-bg);
  color: var(--color-text);
  font: 400 #{functions.em(16)} / 1.4 variables.$fontstack;
  transition: background-color var(--theme-transition), color var(--theme-transition);

  @include mixins.bp(mobile, min) {
    padding: functions.em(40, 20);
    font-size: functions.em(20);
  }
}

h2 {
  margin: 0;
  padding: 0 0 functions.em(8);
  font-weight: 100;
  font-size: functions.em(40);
  color: var(--color-grey);
  letter-spacing: functions.em(-0.5);
  transition: color var(--theme-transition);
}

h3 {
  margin: 0;
  padding: 0 0 functions.em(8);
  font-weight: 100;
  font-size: functions.em(28);
  letter-spacing: functions.em(-0.5);
  color: var(--color-grey);
  transition: color var(--theme-transition);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color var(--theme-transition);
}

.description p {
  letter-spacing: functions.em(-0.25);
}

.description strong {
  font-weight: 400;
  color: var(--color-red);
  background-color: var(--color-redBg);
  padding: functions.em(2);
  border-radius: functions.em(4);
  transition: color var(--theme-transition), background-color var(--theme-transition);
}

.description em {
  font-style: normal;
  color: var(--color-yellow);
  background-color: var(--color-yellowBg);
  padding: functions.em(2);
  border-radius: functions.em(4);
  transition: color var(--theme-transition), background-color var(--theme-transition);
}

[data-theme="light"] {
  .description em{
    color: var(--color-black);
  }
}