@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

.error {
  padding: 0;
}

.e {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: functions.em(-16);

  @include mixins.bp(mobile, min) {
    margin: functions.em(-40, 20);
  }  

  &:before {
    content: "";
    display: block;
    background: rgba(var(--color-black),.5) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQYV2NkQAOMJAv8BwAB7QEE2o88/QAAAABJRU5ErkJggg==) repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0 0 functions.rem(100) rgba(var(--color-black),.5);
  }

  &__bg,
  &__bg > img,
  &__content {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }

  &__bg > img {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    filter: grayscale(100%);
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &__txt {
    font-size: calc(3vw + #{functions.rem(18)});
    line-height: 1;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: calc(10vw + #{functions.rem(150)});
    line-height: 1;
    color: rgba(var(--color-white),.5);
  }

  &__home {
    position: relative;
    margin-top: 4vw;
    font-size: calc(1vw + #{functions.rem(18)});
    color: var(--color-red);
    &:after {
      content: "";
      display: block;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 0;
      background: rgba(var(--color-red), .5);
      transition: all .3s cubic-bezier(.694, .0482, .335, 1);
    }

    &:hover:after {
      width: 100%;
    }
  }
}
