.copyright {
  display: inline-block;
  font-size: 0.7em;
  color: $grey;
}

.lang {

  float: right;

  li {
    display: inline-block;
    font-size: 0.7em;
    color: $grey;

    + li:before {
      display: inline-block;
      content: "|";
      margin: 0 .5em;
    }

  }

  a {
    color: white;

    &:hover {
      color: $red;
      text-decoration: underline;
    }
  }

  span {
    color: $red;
  }

}