@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

.copyright {
  font-size: functions.em(11);
  color: variables.$grey;

  > span {
    display: inline-block;
  }
}

.lang {
  li {
    display: inline-block;
    font-size: functions.em(11);
    color: variables.$grey;

    + li:before {
      display: inline-block;
      content: '|';
      margin: 0 functions.em(8);
    }
  }

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
      text-decoration-color: variables.$red;
      text-underline-offset: functions.em(4);
    }
  }

  span {
    color: variables.$red;
  }
}
