@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;
@use 'sass:color';

/* Hcard */

.hcard {
  margin-top: functions.em(32);
  filter: drop-shadow(0 0.25em 0.5em var(--color-black));

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: functions.em(16) functions.em(16) functions.em(32);
    background-color: var(--color-text);
    background-image: repeating-radial-gradient(
        circle farthest-corner at right bottom,
              rgba(var(--color-alt), 0.75) 0%,
      rgba(var(--color-alt), 0) 100%
      ),
      repeating-linear-gradient(
        135deg,
        var(--color-white) 0,
/*         color.adjust(var(--color-alt), $lightness: 35%) 2px,
        color.adjust(var(--color-alt), $lightness: 35%) 4px,
        color.adjust(var(--color-alt), $lightness: 30%) 6px */
      );
    color: var(--color-bg);
    position: relative;
    clip-path: polygon(
      0% 0%,
      100% 0,
      100% 100%,
      85% 100%,
      85% 85%,
      75% 85%,
      75% 100%,
      25% 100%,
      25% 85%,
      15% 85%,
      15% 100%,
      0% 100%
    );
    border-radius: functions.em(4);
  }

  .image {
    display: block;
    width: functions.em(80);
    height: functions.em(80);
    transform: rotate(-4deg);
    box-shadow: 0 0 5px 0 var(--color-black);
    border-radius: functions.em(4);
  }

  .fields-group {
    margin-left: functions.em(16);
  }

  .name,
  .address,
  .contact {
    display: block;
  }

  .name {
    font-size: functions.em(20);
    letter-spacing: functions.em(-0.5);
  }

  .address {
    font-size: functions.em(12);
    letter-spacing: functions.em(-0.5);
    margin-bottom: functions.em(8, 12);

    span:not(:last-child):after {
      content: ', ';
    }
  }

  .contact {
    margin-top: functions.em(2, 14);
    font-size: functions.em(14);
    color: var(--color-bg);

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      width: functions.em(14, 14);
      height: functions.em(14, 14);
      margin-right: functions.em(7, 14);
      fill: var(--color-red);
    }

    span {
      text-decoration: underline;
      text-decoration-color: transparent;
    }

    &:hover span {
      text-decoration-color: var(--color-red);
    }
  }
}
