/* Hcard */

.hcard {
  margin-top: em(32);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: em(16) em(16) em(32);
  background-color: $color;
  background-image: repeating-radial-gradient(
      circle farthest-corner at right top,
      rgba($alt-color, 0.75) 0%,
      rgba($alt-color, 0) 100%
    ),
    repeating-linear-gradient(
      45deg,
      white 0,
      lighten($alt-color, 35%) 2px,
      lighten($alt-color, 35%) 4px,
      lighten($alt-color, 30%) 6px
    );
  color: $bgcolor;
  position: relative;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 100%,
    85% 100%,
    85% 85%,
    75% 85%,
    75% 100%,
    25% 100%,
    25% 85%,
    15% 85%,
    15% 100%,
    0% 100%
  );
  filter: drop-shadow(0 0.25em 0.5em rgba(black, 0.5));

  .image {
    display: block;
    width: em(80);
    height: em(80);
    mix-blend-mode: multiply;
    transform: rotate(-2deg);
  }

  .fields-group {
    margin-left: em(16);
  }

  .name,
  .address,
  .contact {
    display: block;
  }

  .name {
    font-size: em(20);
  }

  .address {
    font-size: em(12);
    margin-bottom: em(8, 12);

    span:not(:last-child):after {
      content: ', ';
    }
  }

  .contact {
    margin-top: em(2, 14);
    font-size: em(14);
    color: $bgcolor;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      width: em(14, 14);
      height: em(14, 14);
      margin-right: em(7, 14);
      fill: $red;
    }

    span {
      text-decoration: underline;
      text-decoration-color: transparent;
    }

    &:hover span {
      text-decoration-color: $red;
    }
  }
}
