@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;
@use 'sass:color';

/* Social Icons */
.social__icons {
  padding: functions.em(32) 0;

  > li {
    display: inline-block;
    position: relative;
    width: functions.em(48);
    height: functions.em(48);
    z-index: 1;

    + li {
      margin-left: functions.em(12);
    }

    &:hover a {
      transform: rotateY(180deg) translate3d(0, 0, 0);
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
  }

  .icon,
  .label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .icon {
    padding: functions.em(8);
    background-color: variables.$color;
    color: variables.$bgcolor;
    font-size: functions.em(16);
    line-height: 1;
    text-align: center;
    backface-visibility: hidden;
    border-radius: functions.em(4);
  }

  .label {
    background-color: variables.$grey;
    color: variables.$bgcolor;
    font-size: functions.em(11);
    line-height: functions.em(48, 11);
    text-align: center;
    backface-visibility: hidden;
    border-radius: functions.em(4);
    transform: rotateY(180deg) translate3d(0, 0, 0);

    .no-csstransforms3d & {
      display: none;
    }
  }

  @each $network, $color in variables.$social {
    .#{$network} {
      .icon {
        background-color: $color;
        fill: white;
      }

      .label {
        background-color: color.scale($color, $lightness: -50%);
        color: white;
      }
    }
  }
}
