/* Social Icons */

.social__icons {
  margin: 0 0 em(32);

  > li {
    display: inline-block;
    position: relative;
    width: em(48);
    height: em(48);
    z-index: 1;

    + li {
      margin-left: em(12);
    }

    &:hover a {
      transform: rotateY(180deg) translate3d(0, 0, 0);
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
  }

  .icon,
  .label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .icon {
    padding: em(8);
    background-color: $color;
    color: $bgcolor;
    font-size: em(16);
    line-height: 1;
    text-align: center;
    backface-visibility: hidden;
  }

  .label {
    background-color: $grey;
    color: $bgcolor;
    font-size: em(11);
    line-height: em(48, 11);
    text-align: center;
    backface-visibility: hidden;
    transform: rotateY(180deg) translate3d(0, 0, 0);

    .no-csstransforms3d & {
      display: none;
    }
  }

  @each $network, $color in $social {
    .#{$network} {
      .icon {
        background-color: $color;
        fill: white;
      }

      .label {
        background-color: darken($color, 20%);
        color: white;
      }
    }
  }
}
