/* Layout */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body > article {
  margin: 0 auto;
  max-width: em(400);
}

[role='banner'] {
  margin-bottom: em(20);
}

[role='contentinfo'] {
  margin-top: em(20);
}

[role='main'] > section {
  padding: 0;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
  }

  h2,
  h3 {
    padding-top: 0.75em;
  }
}
