/* Layout */

// Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

body > article {
  margin: 0 auto;
  max-width: 26em;
  backface-visibility: visible !important;
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center;  
}

[role="banner"] {

  margin-bottom: 1em;

  @media screen and (max-width: 480px) {
    margin-bottom: 1.25em;
  }

}

[role="contentinfo"] {

  margin-top: 1em;

  @media screen and (max-width: 480px) {
    margin-top: 1.25em;
  }

}

[role="main"] > section {
  margin: 2em 0;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}