/* Layout */

body > article {
  margin: 0 auto;
  max-width: em(400);
  backface-visibility: visible;
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center;
}

[role='banner'] {
  margin-bottom: em(20);
}

[role='contentinfo'] {
  margin-top: em(20);
}

[role='main'] > section {
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50% {
    opacity: 1;
  }
}
