@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

/* Logo */

.logo {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
