@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

/* Logo */

.logo {
  display: block;
  width: 100%;
  font-size: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

[data-theme="light"] {
  .logo {
    filter: invert(1);
  }
}