@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

/* Services */

.services {
  li:before {
    content: '\2192';
    padding-right: functions.em(4);
    position: relative;
    color: var(--color-red);
  }
}
