@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: functions.rem(20);
  right: 0;
  z-index: 1000;
  width: functions.em(48);
  height: functions.em(48);
  padding: functions.em(8);
  border: none;
  border-radius: functions.em(8) 0 0 functions.em(8);
  appearance: none;
  background-color: var(--color-red);
  color: var(--color-white);

  &__icon {
    display: block;
    width: functions.em(32);
    height: functions.em(32);
    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: functions.em(10);
    position: fixed;
    z-index: -1;
    top: functions.em(10);
    right: functions.em(10);
    padding: functions.em(10);
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color-white);
    border-radius: functions.em(4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translate3d(0, -100%, 0);
    font-size: functions.em(20);

    &-icon {
      display: block;
      width: functions.em(16);
      height: functions.em(16);
      svg {
        fill: currentColor;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.theme-switcher--clicked {
  .theme-switcher__label {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@include mixins.bp(mobile, min) {
  .theme-switcher {
    bottom: functions.rem(50);
  }
}
