/* Toolkit */

.toolkit {

  ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: -.2em;
    margin-right: -.2em;
  }

  li {
    color: rgba(white,.4);
    background: rgba(white,.1);
    font-weight: 200;
    font-size: .8em;
    letter-spacing: .05em;
    margin: .2em;
    padding: 0 .4em;
  }

}