@use '../utils/variables' as variables;
@use '../utils/functions' as functions;
@use '../utils/mixins' as mixins;

/* Toolkit */

.toolkit {
  ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: functions.em(-4);
    margin-right: functions.em(-4);
  }

  li {
    color: variables.$yellow;
    background: rgba(variables.$yellow, 0.05);
    font-weight: 200;
    font-size: functions.em(13);
    letter-spacing: functions.em(1, 13);
    margin: functions.em(3, 13);
    padding: 0 functions.em(5, 13);
    border-radius: functions.em(4);
  }
}
