@use 'variables' as variables;
@use 'sass:math';

//
// Functions
// ----------------------------------------------------------------------------

// Unitless function to convert px to em
// ----------------------------------------------------------------------------
@function em($pixels, $context: variables.$browser-context) {
  @if (math.is-unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (math.is-unitless($context)) {
    $context: $context * 1px;
  }

  @return math.div($pixels, $context) * 1em;
}

// Unitless function to convert px to rem
// ----------------------------------------------------------------------------
@function rem($pixels, $context: variables.$browser-context) {
  @if (math.is-unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (math.is-unitless($context)) {
    $context: $context * 1px;
  }

  @return math.div($pixels, $context) * 1rem;
}

// Return z-index layer
// ----------------------------------------------------------------------------
@function z($layer) {
  @return map-get($z-layers, $layer);
}
