// Color palette
$bgcolor: #252525;
$color: #fff;
$alt-color: #a79c8e;
$grey: #657b83;
$red: #e44424;
$github: #111;
$twitter: #00aced;
$linkedin: #007bb6;
$mastodon: #2f93d7;

// Typography
$browser-context: 16;
$fontstack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  'Lucida Grande', sans-serif;

// Breakpoints map
$breakpoints: (
  mobile: 480
);

// Social networks
$social: (
  github: #111,
  twitter: #00aced,
  linkedin: #007bb6,
  mastodon: #2f93d7
);
