// Define

$bgcolor: #252525;
$color: #fff;
$grey: #657b83;
$red: #E44424;
$twitter: #00ACED;
$linkedin: #007BB6;
$facebook: #3B5998;
$google-plus: #DD4B39;
$github: #111;
$font1: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/* Presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 2em;
  background-color: $bgcolor;
  color: $color;
  font: 400 1.25em / 1.4 $font1;
}

h2 {
  margin: 1em auto .5em;
  font-family: $font1;
  font-weight: 400;
  font-size: 2.5em;
  color: $grey;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Layout */

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

body > article {
  margin: 0 auto;
  max-width: 26em;
}

[role="banner"] {
  margin-bottom: 1em;
}

[role="contentinfo"] {
  margin-top: 1em;
}

[role="main"] > section {
  margin: 2em 0;
}

/* Modules */
.logo {
  
  display: block;
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }

}

.svg.backgroundsize .logo img {
  visibility: hidden;
}

.svg.backgroundsize .logo {
  background: url("../images/logo-vector.svg") no-repeat center center;
  background-size: contain;
}

.hcard {
  margin-top: 2em;
  display: inline-block;
  padding: 1em 1em 2em;
  background-color: $color;
  color: $bgcolor;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 2em;
    height: 1.5em;
    position: absolute;
    bottom: -0.25em;
    left: 3em;
    background: $bgcolor;
  }

  &:after {
    content: "";
    display: block;
    width: 2em;
    height: 1.5em;
    position: absolute;
    bottom: -0.25em;
    right: 3em;
    background: $bgcolor;
  }

  .image {
    float: left;
    display: block;
    width: 5em;
    height: 5em;
  }

  .fields-group {
    margin-left: 6em;
  }

  .name,
  .address,
  .contact {
    display: block;
  }

  .name {
    font-size: 1.25em;
  }

  .address {
    font-size: 0.75em;
    margin-bottom: 0.625em;

    span:after {
      content: ", ";
    }

    span:last-child:after {
      content: none;
    }
  }

  .contact {

    margin-top: 0.167em;
    font-size: 0.875em;
    color: $bgcolor;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      width: 1em;
      height: 1em;
      margin-right: .5em;
      fill: $red;
    }

  }

}

.services {

  li:before {
    content: "→";
    padding-right: 0.25em;
    position: relative;
    color: $red;
  }

  @media(min-width: 600px) {

    ul {
      column-count: 2;
    }

  }

}

.social-icons {

  margin: 3em 0 2em;

  .icon {
    display: block;
    padding: .5em;
    background-color: $color;
    color: $bgcolor;
    font-size: 1em;
    line-height: 1;
    text-align: center;
  }

  .label {
    background-color: $grey;
    color: $bgcolor;
    font-size: .7em;
    line-height: 4em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }

  .twitter {

    .icon {
      background-color: $twitter;
      fill: white;
    }

    .label {
      background-color: darken($twitter, 20%);
      color: white;
    }
  
  }

  .facebook {
  
    .icon {
      background-color: $facebook;
      fill: white;
    }

    .label {
      background-color: darken($facebook, 20%);
      color: white;
    }
  
  }

  .linkedin {
  
    .icon {
      background-color: $linkedin;
      fill: white;
    }

    .label {
      background-color: darken($linkedin, 20%);
      color: white;
    }
  
  }

  .google-plus {

    .icon {
      background-color: $google-plus;
      fill: white;
    }

    .label {
      background-color: darken($google-plus, 20%);
      color: white;
    }

  }

  .github {

    .icon {
      background-color: $github;
      fill: white;
    }

    .label {
      background-color: darken($github, 20%);
      color: white;
    }

  }


}

.fliping-icons {

  .flip-container {
    display: inline-block;
    margin: 0 0.25em;
    position: relative;
    width: 3em;
    height: 3em;
    z-index: 1;

    &:first-child {
      margin-left: 0;
    }

    &:hover .flip-icon {
      transform: rotateY(180deg) translate3d(0, 0, 0);
    }

  }

  .flip-icon {
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }
}

.no-csstransforms3d {
  .face.back {
    display: none;
  }
}

.copyright {
  display: inline-block;
  font-size: 0.7em;
  color: $grey;
}

.lang {

  float: right;

  li {
    display: inline-block;
    font-size: 0.7em;
    color: $grey;

    &:not(:first-child):before {
      display: inline-block;
      content: "|";
      margin: 0 .5em;
    }
  }

  a {
    color: white;

    &:hover {
      color: $red;
      text-decoration: underline;
    }
  }

  span {
    color: $red;
  }
}

/* Media Queries */
@media screen and (max-width: 480px) {
  body {
    padding: 1em;
    font-size: 1em;
  }

  [role="banner"] {
    margin-bottom: 1.25em;
  }

  [role="contentinfo"] {
    margin-top: 1.25em;
  }
}